<p>
  <mat-toolbar color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>
    <button class="example-icon favorite-icon" mat-stroked-button color="accent" routerLink='/product' aria-label="Example icon-button with heart icon">
      Product
    </button>
    <button class="example-icon favorite-icon" mat-stroked-button color="accent" routerLink='/products' aria-label="Example icon-button with heart icon">
      Products
    </button>
    <button class="example-icon" mat-stroked-button color="accent" routerLink='/cart' aria-label="Example icon-button with share icon">
      Cart
    </button>
    <button class="example-icon" mat-stroked-button color="accent" routerLink='/user' aria-label="Example icon-button with share icon">
      User
    </button>
    <button class="example-icon" mat-stroked-button color="accent" routerLink='/users' aria-label="Example icon-button with share icon">
      Users
    </button>
  </mat-toolbar>
</p>
